[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth-oauthlib = "*"
httplib2 = "*"
oauth2client = "*"
apiclient = "==1.0.3"
google-api-python-client = "*"
gpiozero = "*"
picamera = "*"
urllib3 = ">=1.24.2"

[dev-packages]

[requires]
python_version = "3.5"
