[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth-oauthlib = "*"
httplib2 = "*"
oauth2client = "*"
apiclient = "*"


[dev-packages]

[requires]
python_version = "3.7"
